* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;

}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

h1 {
    margin: 0;
}

.rent {
    min-height: 100%;
    color: white;
    background: url(img/merinI.jpg);
    font-family: Arial, sans-serif;
}

.container {
    padding: 100px 150px;
    display: flex;
}

.info {
    margin-right: 50px;
}

.info__title {
    margin-bottom: 15px;
    font-size: 30px;
}

.info__subtitle {
    margin-bottom: 15px;
    font-size: 17px;
}

.info__list {}

.list {}

.list__item {
    margin-bottom: 10px;
}

.list__item:last-child {
    margin-bottom: 0;
}

.list__item-img {
    padding-right: 5px;
}

.rent__order {
    background-color: rgba(40, 238, 40, 0.3);
    border-radius: 10px;

}

.order__container {
    margin: 10px 15px;
}

.order__title {
    font-size: 17px;
    margin-bottom: 10px;
}

.form {
    width: 450px;
}

.form__input-date {
    margin-bottom: 20px;
}

.input__date {
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    width: 170px;
    height: 25px;
}

.form__input-check {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.check__title {
    margin-bottom: 15px;
}

.input__check {
    margin-right: 50px;
}

.input__check:last-child {
    margin-right: 0;
}

.form_btn {
    width: 90%;
    height: 35px;
    margin: 0px 20px;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    background-color: rgb(2, 126, 2);
}